.content {
    display: table;
    border-collapse: collapse;
    margin: auto;
}

.content-caption {
    display: table-caption;
    background-color: gold;
    color: rgb(0, 0, 112);
    border: 2px solid rgb(68, 68, 68);
    border-bottom: 0;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    font-size: 25px; 
}

.content-row {
    display: table-row;

}

.content-cell {
    display: table-cell;
    border: 2px solid rgb(68, 68, 68);
    width: 30px;
    height: 30px;
    background-color: green;
}

.gray-cell {
    background-color: gray;
}

.bomb-cell {
    background-color: crimson;
}

.bomb-explode {
    background-color: black;
}

.bomb-near {
    /*color: rgb(0, 0, 112);*/
    text-align: center;
    vertical-align: middle;
    font-size: 25px; 
    background-color: white ;
}

.safe-cell {
    background-color: white ;
}

.cur-pointer {
    cursor: pointer;
}